* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: aqua;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

$color-primary: #000;
$color-sign-green: green;
$color-equal: #fff;
$color-equal-bkg: purple;

$darkmode-sign-ac: rgb(194, 26, 26);
$darkmode-sign-black: yellow;
$darkmode-bkg-color: rgba(29, 28, 28, 0.986);

.container {
  // background-color: blue;
  width: 100%;
  // height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__box {
    // background-color: #fff;
    width: 17rem;
    width: 16rem;
    // height: 35rem;
    height: min-content;
    // margin: 4rem auto;
    border-radius: 25px;
    // margin-top: 5rem;
    // padding: 10px;
    border: 1px solid #fff;

    display: flex;
    flex-direction: column;

    &---minibox1 {
      height: 40%;
      background-color: #fff;
      border-radius: 25px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0.1px 1px black;
      border-bottom: 1px solid #000;
      overflow: scroll;

      &--info {
        display: flex;
        justify-content: space-between;
        align-content: center;

        &-time {
          font-size: 10px;
        }
        &-date {
          font-size: 10px;
        }
      }
      //   &--change {
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      //     gap: 20px;
      //     width: min-content;
      //     margin: 0 auto;
      //     padding: 7px;
      //     border-radius: 10px;

      //     background-image: linear-gradient(to right bottom, #000, #fff);
      //     box-shadow: 3px 3px #fff;
      //     border: 1px solid #fff;
      //     &-light {
      //       height: 28px;
      //       cursor: pointer;

      //       img {
      //         height: 28px;
      //       }
      //     }
      //     &-dark {
      //       height: 28px;
      //       cursor: pointer;

      //       img {
      //         height: 28px;
      //       }
      //     }
      //   }
      &--solution {
        align-self: end;
        margin-right: 5px;
        text-align: right;
        margin-bottom: 15px;

        margin-top: 5rem;

        &-history {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 5px;
        }
        &-number {
          font-size: 30px;
          font-weight: 700;
        }
      }
    }

    &---minibox2 {
      background-color: #fff;
      height: 60%;
      border-radius: 25px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      padding: 10px;

      //   display: flex;
      //   flex-wrap: wrap;
      //   justify-content: center;

      display: grid;
      grid-template-columns: auto auto auto auto;

      &--button {
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 2px 2px black;
        width: 2.5rem;
        height: 2.5rem;
        // padding: 10px;
        text-align: center;
        margin: 8px;
        font-weight: 700;
        font-size: 18px;
        color: #000;
        border: 1px solid #000;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.darkmode {
  background: $color-primary;
}
.darkmode-container-bkg {
  background-color: $color-primary;
  border: 1px solid #000;
}

.darkmode-bkg-color1 {
  background-color: $darkmode-bkg-color;
  border-color: $darkmode-bkg-color;
  color: #fff;
}

.darkmode-bkg-color2 {
  background-color: $color-primary;
}
.darkmode-change {
  box-shadow: 3px 3px rgb(48, 46, 46);
  border: 1px solid #000;
  background-image: none;
  background-color: rgb(48, 46, 46);
}
.darkmode-button {
  background-color: rgb(46, 44, 44);
  color: #fff;
  border-color: rgb(46, 44, 44);
}

.ac-green {
  color: $color-sign-green;
}
.equal {
  color: #fff;
  background-color: $color-equal-bkg;
  border-color: $color-equal-bkg;
  //   width: 90%;
  //   height: max-content;
  //   border-radius: 0;
  //   grid-column: 3 / -1;
}
.yellow {
  color: $darkmode-sign-black;
  background-color: rgb(46, 44, 44);
  border-color: rgb(46, 44, 44);
}
.ac-red {
  color: rgb(207, 38, 38);
}
